* {
  font-family: "DM Sans", sans-serif;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  scrollbar-gutter: stable;
  overflow-x: hidden !important;
}

.dark-mode body {
  background-color: rgb(32, 33, 36);
  color: rgb(232, 234, 237);
}

::-webkit-scrollbar {
  width: 10px;
  overflow-x: scroll;
}

::-webkit-scrollbar-track {
  border-radius: 2px;
  outline: solid 1px #d6d6d6;
}

::-webkit-scrollbar-thumb {
  background: #c0c0c0;

  border-radius: 0.3em;
}

.Default {
  background-color: rgba(255, 255, 255, 1);
  fill: rgba(255, 255, 255, 1);
}

.dark-mode .Default {
  background-color: rgb(32, 33, 36);
  fill: rgb(32, 33, 36);
}

.Coral {
  background-color: rgba(247, 155, 146, 1);
  fill: rgba(247, 155, 146, 1);
}

.dark-mode .Coral {
  background-color: rgb(165, 83, 73);
  fill: rgb(165, 83, 73);
}

.Peach {
  background-color: rgba(240, 146, 101, 1);
  fill: rgba(240, 146, 101, 1);
}

.dark-mode .Peach {
  background-color: rgb(165, 94, 61);
  fill: rgb(165, 94, 61);
}

.Sand {
  background-color: rgba(252, 243, 162, 1);
  fill: rgba(252, 243, 162, 1);
}

.dark-mode .Sand {
  background-color: rgb(165, 162, 77);
  fill: rgb(165, 162, 77);
}

.Mint {
  background-color: rgba(208, 245, 181, 1);
  fill: rgba(208, 245, 181, 1);
}

.dark-mode .Mint {
  background-color: rgb(130, 170, 102);
  fill: rgb(130, 170, 102);
}

.Seafoam {
  background-color: rgba(162, 224, 209, 1);
  fill: rgba(162, 224, 209, 1);
}

.dark-mode .Seafoam {
  background-color: rgb(106, 170, 154);
  fill: rgb(106, 170, 154);
}

.Fog {
  background-color: rgba(185, 217, 235, 1);
  fill: rgba(185, 217, 235, 1);
}

.dark-mode .Fog {
  background-color: rgb(102, 142, 165);
  fill: rgb(102, 142, 165);
}

.Storm {
  background-color: rgba(151, 196, 219, 1);
  fill: rgba(151, 196, 219, 1);
}

.dark-mode .Storm {
  background-color: rgb(85, 122, 141);
  fill: rgb(85, 122, 141);
}

.Lavender {
  background-color: rgba(205, 169, 219, 1);
  fill: rgba(205, 169, 219, 1);
}

.dark-mode .Lavender {
  background-color: rgb(125, 87, 139);
  fill: rgb(125, 87, 139);
}

.Blossom {
  background-color: rgba(255, 206, 194, 1);
  fill: rgba(255, 206, 194, 1);
}

.dark-mode .Blossom {
  background-color: rgb(184, 131, 118);
  fill: rgb(184, 131, 118);
}

.Clay {
  background-color: rgba(230, 216, 184, 1);
  fill: rgba(230, 216, 184, 1);
}

.dark-mode .Clay {
  background-color: rgb(128, 109, 65);
  fill: rgb(128, 109, 65);
}

.Wisteria {
  background-color: rgba(223, 223, 240, 1);
  fill: rgba(223, 223, 240, 1);
}

.dark-mode .Wisteria {
  background-color: rgb(112, 112, 153);
  fill: rgb(112, 112, 153);
}

.checkmark-circle {
  fill: #212121;
}

.dark-mode .checkmark-circle {
  fill: #e4e4e4;
}

.default-color-icon {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M21.19 21.19l-3.06-3.06-1.43-1.43-8.3-8.3L7 7 2.81 2.81 1.39 4.22l4.25 4.25A8.056 8.056 0 0 0 4.01 13H4c0 4.42 3.58 8 8 8 1.74 0 3.35-.57 4.66-1.51l3.12 3.12 1.41-1.42zM12 19c-3.22 0-5.86-2.55-5.99-5.74l.01-.19c.04-1.14.42-2.25 1.06-3.18l8.16 8.16c-.95.6-2.05.95-3.24.95zm0-14.17l4.25 4.24a6.014 6.014 0 0 1 1.74 4.01l.01.17c-.02.56-.13 1.11-.3 1.62l1.53 1.53c.49-1.03.77-2.18.77-3.4h-.01a7.975 7.975 0 0 0-2.33-5.35L12 2 8.41 5.58 9.83 7 12 4.83z'%3E%3C/path%3E%3C/svg%3E");
}

.dark-mode .default-color-icon {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%23ffffff' d='M21.19 21.19l-3.06-3.06-1.43-1.43-8.3-8.3L7 7 2.81 2.81 1.39 4.22l4.25 4.25A8.056 8.056 0 0 0 4.01 13H4c0 4.42 3.58 8 8 8 1.74 0 3.35-.57 4.66-1.51l3.12 3.12 1.41-1.42zM12 19c-3.22 0-5.86-2.55-5.99-5.74l.01-.19c.04-1.14.42-2.25 1.06-3.18l8.16 8.16c-.95.6-2.05.95-3.24.95zm0-14.17l4.25 4.24a6.014 6.014 0 0 1 1.74 4.01l.01.17c-.02.56-.13 1.11-.3 1.62l1.53 1.53c.49-1.03.77-2.18.77-3.4h-.01a7.975 7.975 0 0 0-2.33-5.35L12 2 8.41 5.58 9.83 7 12 4.83z'%3E%3C/path%3E%3C/svg%3E");
}

.menu-color-btn {
  outline: solid 0.1rem transparent;
  border: solid 0.03rem transparent;
  height: 32px;
  width: 32px;
  background-size: 18px 18px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  transition: all 0.1s ease;
}

.hovered-color {
  outline: solid 0.1rem #212121;
  border: solid 0.03rem #212121;
}

.dark-mode .hovered-color {
  outline: solid 0.1rem #ffffff;
  border: solid 0.03rem #ffffff;
}

.menu-color-selected {
  outline: solid 0.1rem #a142f4;
  border: solid 0.03rem #a142f4;
}

.menu-color-default {
  outline: solid 0.1rem #e0e0e0;
  border: solid 0.03rem #e0e0e0;
}

.dark-mode .menu-color-default {
  outline: solid 0.1rem #5f6368;
  border: solid 0.03rem #5f6368;
}

.starting-div-header {
  padding-left: 7rem;
  /* padding-right: 1rem; */
  padding-top: 4.625rem;
}

.starting-div {
  padding-left: 6.5rem;
  padding-right: 0.2rem;
}

.add-button-icon-circle {
  transition: all 0.3s ease;
}

.add-button-icon {
  fill: #b91818;
  margin: 0 auto;
  z-index: 11;
  cursor: pointer;
}

.add-button-icon:hover .add-button-icon-circle {
  fill: rgb(31, 31, 31);
}

.page-header {
  display: flex;
  min-height: 3.125rem;
  justify-content: flex-start;
  align-items: center;
  padding-right: 2.4rem;

  margin-top: 1rem;
  user-select: none;
  transition: all 1.2s ease;
}

.page-header-title {
  color: #212121;
  margin-left: 0.4rem;
  font-size: 2.2rem;
  white-space: nowrap;
  flex-shrink: 0;
  transition: all 1.2s ease;
}

.page-header-divider {
  border-top: solid 0.12rem #a5a5a5;
  margin-left: 1.2rem;
  margin-top: auto;
  margin-bottom: 1.2rem;
  margin-right: 1.2rem;
  width: 100dvw;
  transition: all 1.2s ease;
}

.divider-tools-container {
  display: flex;
  margin-left: auto;
  gap: 1rem;
  transition: all 1.2s ease;
}

.divider-tool-text {
  color: #7a7a7a;
  white-space: nowrap;
  font-size: 0.85rem;
  font-weight: 500;
  transition: all 1.2s ease;
}

.divider-tool {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  margin-top: 0.5rem;
  width: fit-content;
  gap: 0.2rem;
  flex-shrink: 0;
  transition: all 0.3s ease;
}

.note {
  width: 240px;
  height: 104px;
}

.corner {
  float: right;
  width: 38px;
  height: 32px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  padding: 6px;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  border: none;
  opacity: 0.87;
  background-color: rgba(0, 0, 0, 0);
  transition: all 0.2s ease;
}

.btn:hover {
  background-color: rgba(95, 99, 104, 0.157);
}

.btn-click:active {
  background-color: rgba(0, 0, 0, 0.2);
}

.section-label {
  left: 1.5rem;
  position: absolute;
  transition: opacity 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
  font-size: 0.75rem;
  font-weight: 600;
  color: rgb(95, 99, 104);
  user-select: none;
}

img {
  user-select: none;
}

.img-delete {
  position: absolute;
  display: flex;
  opacity: 0;
  color: white;
  bottom: 0.3rem;
  right: 0.32rem;
  padding: 0.3rem;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.7);
  transition: all 0.2s ease;
  border-radius: 2px;
}

.delete-icon {
  opacity: 0.7;
  transition: all 0.2s ease;
}

.img-wrapper {
  position: relative;
  opacity: 1;
  transition: all 0.4s ease;
}

.img-wrapper:hover .img-delete {
  opacity: 1;
}

.img-delete:hover {
  background-color: rgba(0, 0, 0, 0.85);
}

.img-delete:hover .delete-icon {
  opacity: 0.85;
}

.top-menu {
  position: fixed;
  display: flex;
  align-items: center;
  height: 63px;
  width: 100%;
  background-color: white;
  z-index: 101;
  top: 0;
}

.top-menu-tools {
  display: flex;
  border: "solid";
  margin-left: auto;
  margin-right: 27px;
  gap: 20px;
}

.menu {
  z-index: 110;
  min-width: 8.225625rem;
  height: fit-content;
  width: 220px;
  padding: 0.5rem 0 0.5rem 0;
  user-select: none;
  box-shadow: -1px 0px 10px 0px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 0.7rem;
  overflow: hidden;
}

.dark-mode .menu {
  background-color: #282a2c;
}

.menu-buttons {
  display: flex;
  flex-direction: column;
  /* color: rgb(128, 128, 128); */
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

.menu-btn {
  color: rgb(99, 99, 99);
  width: 100%;
  padding: 0.8rem;
  padding-left: 1.5rem;
  white-space: nowrap;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.2s ease;
}

.dark-mode .menu-btn {
  color: rgb(201, 201, 201);
}

.menu-btn:hover {
  background-color: rgb(238, 238, 238);
  /* color: #ffffff; */
}

.dark-mode .menu-btn:hover {
  background-color: #303235;
}

.menu-upper-section {
  display: flex;
  padding: 0.6rem 0.8rem 0.8rem 1.3rem;
  justify-content: center;
  font-weight: 600;
  gap: 8px;
}

.username {
  margin: auto 0;
  color: rgb(56, 56, 56);
}

.dark-mode .username {
  color: rgb(201, 201, 201);
}

.color-menu {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: fit-content;
  width: fit-content;
  padding: 9px 12px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 2px 6px 2px rgba(60, 64, 67, 0.15);
  gap: 0.4rem;
  z-index: 999;
}

.dark-mode .color-menu {
  background-color: #282a2c;
}

.dragging * {
  cursor: move !important;
}

.dashed-border {
  border-radius: 0.7rem;
  background: linear-gradient(90deg, #212121 50%, transparent 0) repeat-x,
    linear-gradient(90deg, #212121 50%, transparent 0) repeat-x,
    linear-gradient(0deg, #212121 50%, transparent 0) repeat-y,
    linear-gradient(0deg, #212121 50%, transparent 0) repeat-y;
  background-size: 9px 3px, 9px 3px, 3px 9px, 3px 9px; /* Increase thickness and spacing */
  background-position: 0 0, 0 100%, 0 0, 100% 0;
  cursor: pointer;

  animation: linearGradientMove 0.3s infinite linear;
}

@keyframes linearGradientMove {
  100% {
    background-position: 8px 0, -8px 100%, 0 -8px, 100% 8px; /* Match the spacing and thickness */
  }
}

.relative {
  position: relative;
}

.undo-btn {
  padding: 0.5rem 1.5rem;
  font-weight: 600;
  border-radius: 5px;
  border: none;
  background-color: greenyellow;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  color: #3f95fc;
  transition: all 0.1s ease;
}

.undo-btn:hover {
  background-color: rgba(143, 143, 143, 0.1);
}

.ghost-note {
  position: fixed !important;
  z-index: 999 !important;
  opacity: 0.97 !important;
  pointer-events: none !important;
  cursor: move !important;
  border-radius: 0.8rem !important;
  box-shadow: 2px 1px 25px -3px rgba(112, 112, 112, 0.8) !important;
  transform: none !important;
  transition: none !important;
}

.restore-ghost-note {
  position: fixed !important;
  z-index: 999 !important;
  opacity: 1 !important;
  pointer-events: auto !important;
  cursor: move !important;
  border-radius: 0.8rem !important;
  box-shadow: none !important;
  transform: none !important;
  transition: all 0.25s cubic-bezier(0.52, 0, 0.18, 1), height 0.1s !important;
}

.dragged-note {
  opacity: 0 !important;
  transition: none !important;
  pointer-events: none !important;
}

.mama {
  opacity: 0 !important;
  transition: opacity 0.2s !important;
}

.no-transition {
  transition: all 0s !important;
}

.img-loading {
  opacity: 0.6 !important;
}

.labels-container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 3.7rem;
  padding-left: 0.1rem;
  padding-right: 1rem;
  padding-bottom: 6.25rem;
  min-height: 550px;
}

.label-input {
  font-size: 0.85rem;
  color: rgb(60, 64, 67);
  padding: 0 22px 0 2px;
  width: 100%;
  box-sizing: border-box;
  outline: none;
  border: none;
}

.search-icon {
  display: inline-block;
  position: absolute;
  right: 1rem;
  background-size: 0.65rem;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 18 18" fill="none"><path d="M17.7043 16.2848L14.3054 12.8958C15.402 11.4988 15.9971 9.77351 15.9948 7.99743C15.9948 6.41569 15.5258 4.86947 14.647 3.5543C13.7683 2.23913 12.5192 1.21408 11.0579 0.608771C9.59657 0.00346513 7.98855 -0.15491 6.43721 0.153672C4.88586 0.462254 3.46085 1.22393 2.34239 2.34239C1.22393 3.46085 0.462254 4.88586 0.153672 6.43721C-0.15491 7.98855 0.00346513 9.59657 0.608771 11.0579C1.21408 12.5192 2.23913 13.7683 3.5543 14.647C4.86947 15.5258 6.41569 15.9948 7.99743 15.9948C9.77351 15.9971 11.4988 15.402 12.8958 14.3054L16.2848 17.7043C16.3777 17.798 16.4883 17.8724 16.6101 17.9231C16.7319 17.9739 16.8626 18 16.9945 18C17.1265 18 17.2572 17.9739 17.379 17.9231C17.5008 17.8724 17.6114 17.798 17.7043 17.7043C17.798 17.6114 17.8724 17.5008 17.9231 17.379C17.9739 17.2572 18 17.1265 18 16.9945C18 16.8626 17.9739 16.7319 17.9231 16.6101C17.8724 16.4883 17.798 16.3777 17.7043 16.2848ZM1.99936 7.99743C1.99936 6.81112 2.35114 5.65146 3.01022 4.66508C3.66929 3.6787 4.60606 2.90991 5.70207 2.45593C6.79807 2.00196 8.00408 1.88317 9.16759 2.11461C10.3311 2.34605 11.3999 2.91731 12.2387 3.75615C13.0775 4.595 13.6488 5.66375 13.8802 6.82726C14.1117 7.99077 13.9929 9.19678 13.5389 10.2928C13.0849 11.3888 12.3162 12.3256 11.3298 12.9846C10.3434 13.6437 9.18373 13.9955 7.99743 13.9955C6.40664 13.9955 4.88101 13.3636 3.75615 12.2387C2.6313 11.1138 1.99936 9.58821 1.99936 7.99743Z" fill="%23858585"/></svg>');
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 50%;
  /* background-position-x: 1.3rem; */
  width: 18px;
  height: 18px;
}

.create-label {
  display: flex;
  position: relative;
  border-top: 1px solid rgb(218, 220, 224);
  background-color: rgba(0, 0, 0, 0.05);
  padding: 0.5rem 0.8rem;
  cursor: pointer;
  transition: background-color 0.2s;
  /*41.38*/
}

.create-label:hover {
  background-color: rgba(0, 0, 0, 0.07);
}

.create-icon {
  display: inline-block;
  flex-grow: 0;
  flex-shrink: 0;
  background: url(data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjE4cHgiIHdpZHRoPSIxOHB4IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0OCA0OCIgZmlsbD0iIzAwMDAwMCI+CiA8cGF0aCBkPSJtMzggMjZoLTEydjEyaC00di0xMmgtMTJ2LTRoMTJ2LTEyaDR2MTJoMTJ2NHoiLz4KIDxwYXRoIGQ9Im0wIDBoNDh2NDhoLTQ4eiIgZmlsbD0ibm9uZSIvPgo8L3N2Zz4K)
    no-repeat center;
  width: 18px;
  height: 18px;
  opacity: 0.55;
  cursor: pointer;
}

.label-item {
  display: flex;
  padding: 0.25rem 0.8rem;
  font-size: 0.8125rem;
  cursor: pointer;
  transition: background-color 0.1s linear;
}

.label-item:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

.label-item:active {
  background-color: rgba(0, 0, 0, 0.17);
}

.label-items-container {
  overflow-y: auto;
  max-height: 18.106875rem;
}

.label-items-container::-webkit-scrollbar-track {
  outline: none;
}

.label-items-container::-webkit-scrollbar-thumb {
  border-radius: 0;
}

.label-checkmark {
  display: inline-block;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSIjMDAwIj4KICA8cGF0aCBkPSJNMTkgNXYxNEg1VjVoMTRtMC0ySDVjLTEuMSAwLTIgLjktMiAydjE0YzAgMS4xLjkgMiAyIDJoMTRjMS4xIDAgMi0uOSAyLTJWNWMwLTEuMS0uOS0yLTItMnoiLz4KPC9zdmc+Cg==);
  background-size: 18px 18px;
  opacity: 0.55;
  width: 18px;
  height: 18px;
}

.remove-label {
  display: none;
  background-image: url(data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjE4cHgiIHdpZHRoPSIxOHB4IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxOCAxOCIgZmlsbD0iIzAwMDAwMCI+CiA8cGF0aCBkPSJtMCAwaDE4djE4aC0xOHpoMTh2MThoLTE4eiIgZmlsbD0ibm9uZSIvPgogPHBhdGggZD0ibTE0LjUzIDQuNTNsLTEuMDYtMS4wNi00LjQ3IDQuNDctNC40Ny00LjQ3LTEuMDYgMS4wNiA0LjQ3IDQuNDctNC40NyA0LjQ3IDEuMDYgMS4wNiA0LjQ3LTQuNDcgNC40NyA0LjQ3IDEuMDYtMS4wNi00LjQ3LTQuNDd6Ii8+Cjwvc3ZnPgo=);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 14px 14px;
  position: absolute;
  right: 2px;
  padding: 0.2rem;
  flex-shrink: 0;
  border-radius: 50%;
  opacity: 0.55;
  height: 15px;
  width: 15px;
  cursor: pointer;
}

.note-label {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}

.note-labels-container {
  display: flex;
  flex-wrap: wrap;
  font-size: 0.6875rem;
  color: rgb(60, 64, 67);
  font-weight: 550;
  gap: 0.4rem;
}

.remove-label:hover {
  background-color: rgba(0, 0, 0, 0.16);
}

.label-wrapper {
  display: flex;
  background-color: rgba(0, 0, 0, 0.09);
  padding: 0.3rem;
  border-radius: 0.75rem;
  height: 15px;
  justify-content: center;
  align-items: center;
  min-width: 2.1875rem;
  position: relative;
  cursor: pointer;
}

.label-wrapper:hover .remove-label {
  display: block;
}

.label-wrapper:hover .note-label {
  width: calc(100% - 15px);
}

.label-wrapper:hover {
  justify-content: flex-start;
}

.more-labels {
  display: flex;
  background-color: rgba(0, 0, 0, 0.09);
  padding: 0.3rem;
  border-radius: 0.2rem;
  height: 15px;
  justify-content: center;
  align-items: center;
  min-width: 2.1875rem;
  position: relative;
}

.more-labels-label {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.new-label {
  display: flex;
  width: 240px;
  /* padding: 1.1rem; */
  /* box-siz++ing: border-box; */
  border-radius: 1.5rem;
  min-height: 124px;
  position: relative;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.dashed-border {
  animation: dash 0.8s linear infinite;
  animation-play-state: paused;
}

.new-label:hover {
  transform: scale(1.05) !important;
}

.new-label:hover .dashed-border {
  animation-play-state: running !important;
}

.label {
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  width: 240px;
  /* min-height: 124px; */
  border-radius: 0.7rem;
  word-break: break-all;
  cursor: pointer;
}

.dark-mode .label {
  color: white;
}

.label:hover {
  -webkit-box-shadow: 2px 3px 4px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 2px 3px 4px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 3px 4px 0px rgba(0, 0, 0, 0.1);
}

.label-more-icon {
  top: 5px;
  right: 7px;
  position: absolute;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.label-date {
  opacity: 0;
  font-size: 12px;
  transition: opacity 0.3s ease;
}

.label:hover .label-more-icon {
  opacity: 1;
}

.label:hover .label-date {
  opacity: 1;
}

.label-title-input {
  /* padding-left: 0.1rem; */
  box-sizing: border-box;
  font-weight: 550;
  font-size: 1rem;
  margin-bottom: 0.4rem;
  cursor: text;
  border: none;
  outline: none;
  padding-bottom: 0.2rem;
  /* outline-style: dotted !important; */
  width: 100%;
  border-radius: 0.2rem;
  pointer-events: none;
  transition: all 0.1s linear;
}

/* .label-title-input:focus::before {
  content: '';
}

.label-title-input::before {
  content: attr(aria-label);
  color: rgb(27, 27, 27);
  font-weight: 550;
  text-align: center;
  margin-top: 9px;
  letter-spacing: 0.00625em;
  font-variant-ligatures: none;
  line-height: 1.5rem;
  cursor: text;
} */

.zero-opacity {
  opacity: 0 !important;
  pointer-events: none;
}

.edit-icon {
  position: absolute;
  right: 13px;
  bottom: 0.8rem;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='20px' viewBox='0 -960 960 960' width='20px' fill='%23474747'%3E%3Cpath d='M216-216h51l375-375-51-51-375 375v51Zm-72 72v-153l498-498q11-11 23.84-16 12.83-5 27-5 14.16 0 27.16 5t24 16l51 51q11 11 16 24t5 26.54q0 14.45-5.02 27.54T795-642L297-144H144Zm600-549-51-51 51 51Zm-127.95 76.95L591-642l51 51-25.95-25.05Z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 18px;
  height: 18px;
}

.dark-mode .edit-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='20px' viewBox='0 -960 960 960' width='20px' fill='%23cecece'%3E%3Cpath d='M216-216h51l375-375-51-51-375 375v51Zm-72 72v-153l498-498q11-11 23.84-16 12.83-5 27-5 14.16 0 27.16 5t24 16l51 51q11 11 16 24t5 26.54q0 14.45-5.02 27.54T795-642L297-144H144Zm600-549-51-51 51 51Zm-127.95 76.95L591-642l51 51-25.95-25.05Z'/%3E%3C/svg%3E");
}
