* {
  font-family: "DM Sans", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  scrollbar-gutter: stable;
}

::-webkit-scrollbar {
  width: 10px;
  overflow-x: scroll;
}

::-webkit-scrollbar-track {
  border-radius: 2px;
  outline: solid 1px #d6d6d6;
}

::-webkit-scrollbar-thumb {
  background: #c0c0c0;

  border-radius: 0.3em;
}

.starting-div-header {
  padding-left: 7rem;
  /* padding-right: 1rem; */
  padding-top: 4.625rem;
}

.starting-div {
  padding-left: 6.5rem;
  padding-right: 0.2rem;
}

.add-button-icon-circle {
  transition: all 0.3s ease;
}

.add-button-icon {
  fill: #2b2b2b;
  margin: 0 auto;
  z-index: 11;
  cursor: pointer;
}

.add-button-icon:hover .add-button-icon-circle {
  fill: rgb(31, 31, 31);
}

.page-header {
  display: flex;
  min-height: 3.125rem;
  justify-content: flex-start;
  align-items: center;
  padding-right: 2.4rem;
  
  margin-top: 1rem;
  user-select: none;
  transition: all 1.2s ease;
}

.page-header-title {
  color: #212121;
  margin-left: 0.4rem;
  font-size: 2.2rem;
  white-space: nowrap;
  flex-shrink: 0;
  transition: all 1.2s ease;
}

.page-header-divider {
  border-top: solid 0.12rem #a5a5a5;
  margin-left: 1.2rem;
  margin-top: auto;
  margin-bottom: 1.2rem;
  margin-right: 1.2rem;
  width: 100dvw;
  transition: all 1.2s ease;
}

.divider-tools-container {
  display: flex;
  margin-left: auto;
  gap: 1rem;
  transition: all 1.2s ease;
}

.divider-tool-text {
  color: #7a7a7a;
  white-space: nowrap;
  font-size: 0.85rem;
  font-weight: 500;
  transition: all 1.2s ease;
}

.divider-tool {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  margin-top: 0.5rem;
  width: fit-content;
  gap: 0.2rem;
  flex-shrink: 0;
  transition: all 0.3s ease;
}

.note {
  width: 240px;
  height: 104px;
}

.corner {
  float: right;
  width: 38px;
  height: 32px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  padding: 6px;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  transition: all 0.1s ease;
}

.btn:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

.btn-click:active {
  background-color: rgba(0, 0, 0, 0.2);
}

.section-label {
  left: 1.5rem;
  position: absolute;
  transition: opacity 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
  font-size: 0.75rem;
  font-weight: 600;
  color: rgb(95, 99, 104);
  user-select: none;
}

img {
  user-select: none;
}

.img-delete {
  position: absolute;
  display: flex;
  opacity: 0;
  color: white;
  bottom: 0.3rem;
  right: 0.32rem;
  padding: 0.3rem;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.7);
  transition: all 0.2s ease;
  border-radius: 2px;
}

.delete-icon {
  opacity: 0.7;
  transition: all 0.2s ease;
}

.img-wrapper {
  position: relative;
  transition: all 0.2s ease;
}

.img-wrapper:hover .img-delete {
  opacity: 1;
}

.img-delete:hover {
  background-color: rgba(0, 0, 0, 0.85);
}

.img-delete:hover .delete-icon {
  opacity: 0.85;
}


.top-menu {
  position: fixed;
  display: flex;
  align-items: center;
  height: 63px;
  width: 100%;
  background-color: white;
  z-index: 101;
  top: 0;
}

.top-menu-tools {
  display: flex;
  border: "solid";
  margin-left: auto;
  margin-right: 27px;
  gap: 20px;
}


.menu {
  position: fixed;
  z-index: 110;
  height: fit-content;
  width: 220px;
  padding: 0.5rem 0 0.5rem 0;
  user-select: none;
  box-shadow: -1px 0px 10px 0px rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 0.7rem;
  overflow: hidden;
}

.menu-buttons {
  display: flex;
  flex-direction: column;
  /* color: rgb(128, 128, 128); */
  color: white;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

.menu-btn {
  color: rgb(99, 99, 99);
  width: 100%;
  padding: 0.8rem;
  padding-left: 1.5rem;
  white-space: nowrap;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.2s ease;
}

.menu-btn:hover {
  background-color: rgb(238, 238, 238);
  /* color: #ffffff; */
}

.menu-upper-section {
  display: flex;
  padding: 0.6rem 0.8rem 0.8rem 1.3rem;
  justify-content: center;
  font-weight: 600;
  gap: 8px;
}