.linear-loader {
  width: 100%;
  height: 5px;
  background: var(--linear-loader-bg);
  overflow: hidden;
  position: absolute;
  bottom: 0;
}

.linear-loader::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent 0%,
    var(--linear-loader) 50%,
    transparent 100%
  );
  filter: blur(0px);
  animation: loading 1.3s ease-in-out infinite;
  transform: translateX(-100%);
  will-change: transform;
}

@keyframes loading {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}