nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  position: fixed;
  width: 100%;
  height: 4rem;
  background-color: var(--bg);
  user-select: none;
  z-index: 100;
  min-width: min-content;
  transition: box-shadow 0.2s ease;
}

.nav-shadow {
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

.dark-mode .nav-shadow {
  box-shadow: rgba(0, 0, 0, 0.308) 0px 0px 0.25em, rgba(0, 0, 0, 0.116) 0px 0.25em 1em;
}

.dark-mode .settings-icon {
  stroke: #adadad;
}

.refresh-icon {
  fill: #292929;
}

.dark-mode .refresh-icon {
  fill: #dfdfdf;
}

.search-icon {
  fill: #292929;
}

.dark-mode .search-icon {
  fill: #dfdfdf;
}

.cloud-icon {
  fill: #292929;
}

.dark-mode .cloud-icon {
  fill: #dfdfdf;
}

.layout-icon {
  stroke: #292929;
}

.dark-mode .layout-icon {
  stroke: #dfdfdf;
}

.nav-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.875rem;
  height: 2.875rem;
  opacity: 0.56;
  transition: opacity 0.18s ease;
}

.nav-btn:hover {
  opacity: 0.87;
}

.nav-btn:disabled {
  opacity: 0.56 !important;
}

.profile-image {
  display: block;
  object-fit: cover;
  user-select: none;
  flex-shrink: 0;
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
  border-radius: 50%;
}

.top-icons {
  display: flex;
  align-items: center;
  padding-top: 0.1rem;
  height: 100%;
}

.search-wrapper {
  position: relative;
  max-width: 61rem;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  border-radius: 0.7rem;
  background-color: #f8f8f8;
}

.clear-search-icon {
  /* position: absolute; */
  flex-shrink: 0;
  top: 50%;
  bottom: 50%;
  display: flex;
  right: 10px;
  width: 2.5rem;
  height: 2.5rem;
  background-image: url("data:image/svg+xml,%3Csvg width='27' height='27' viewBox='0 0 24 24' fill='none' xmlns='http%3A//www.w3.org/2000/svg'%3E%3Cpath d='M18 6L6 18' stroke='%23000000' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M6 6L18 18' stroke='%23292929' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-size: 23px 23px;
  opacity: 0.56;
  background-repeat: no-repeat;
  background-position: center;
  margin: auto;
  display: inline-block;
  transition: opacity 0.18s ease;
}

.dark-mode .clear-search-icon {
  background-image: url("data:image/svg+xml,%3Csvg width='27' height='27' viewBox='0 0 24 24' fill='none' xmlns='http%3A//www.w3.org/2000/svg'%3E%3Cpath d='M18 6L6 18' stroke='%23dfdfdf' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M6 6L18 18' stroke='%23ffffff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}

.clear-search-icon:hover {
  opacity: 0.87;
}

.filter-search-icon {
  flex-shrink: 0;
  top: 50%;
  bottom: 50%;
  display: flex;
  right: 10px;
  width: 2.5rem;
  height: 2.5rem;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.64308 5.25638C6.80268 5.09234 7.0191 5.00019 7.24477 5.00019C7.47044 5.00019 7.68687 5.09234 7.84646 5.25638L11.2506 8.75638C11.4057 8.9214 11.4914 9.14243 11.4895 9.37185C11.4876 9.60127 11.3981 9.82073 11.2403 9.98297C11.0825 10.1452 10.869 10.2372 10.6459 10.2392C10.4227 10.2412 10.2078 10.153 10.0473 9.99362L8.09582 7.98725V18.125C8.09582 18.3571 8.00615 18.5796 7.84655 18.7437C7.68695 18.9078 7.47048 19 7.24477 19C7.01906 19 6.80259 18.9078 6.64299 18.7437C6.48339 18.5796 6.39373 18.3571 6.39373 18.125V7.98725L4.44228 9.99362C4.28177 10.153 4.06679 10.2412 3.84365 10.2392C3.62051 10.2372 3.40706 10.1452 3.24927 9.98297C3.09147 9.82073 3.00197 9.60127 3.00003 9.37185C2.99809 9.14243 3.08387 8.9214 3.2389 8.75638L6.64308 5.25638ZM14.9042 16.0128V5.875C14.9042 5.64294 14.9938 5.42038 15.1534 5.25628C15.3131 5.09219 15.5295 5 15.7552 5C15.9809 5 16.1974 5.09219 16.357 5.25628C16.5166 5.42038 16.6063 5.64294 16.6063 5.875V16.0128L18.5577 14.0064C18.7182 13.847 18.9332 13.7588 19.1563 13.7608C19.3795 13.7628 19.5929 13.8548 19.7507 14.017C19.9085 14.1793 19.998 14.3987 20 14.6281C20.0019 14.8576 19.9161 15.0786 19.7611 15.2436L16.3569 18.7436C16.1973 18.9077 15.9809 18.9998 15.7552 18.9998C15.5296 18.9998 15.3131 18.9077 15.1535 18.7436L11.7494 15.2436C11.5943 15.0786 11.5086 14.8576 11.5105 14.6281C11.5124 14.3987 11.6019 14.1793 11.7597 14.017C11.9175 13.8548 12.131 13.7628 12.3541 13.7608C12.5773 13.7588 12.7922 13.847 12.9527 14.0064L14.9042 16.0128Z' fill='%23212121'/%3E%3C/svg%3E%0A");
  /* background-size: 23px 23px; */
  opacity: 0.56;
  background-repeat: no-repeat;
  background-position: center;
  margin: auto;
  display: inline-block;
  transition: opacity 0.18s ease;
}

.dark-mode .filter-search-icon {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.64308 5.25638C6.80268 5.09234 7.0191 5.00019 7.24477 5.00019C7.47044 5.00019 7.68687 5.09234 7.84646 5.25638L11.2506 8.75638C11.4057 8.9214 11.4914 9.14243 11.4895 9.37185C11.4876 9.60127 11.3981 9.82073 11.2403 9.98297C11.0825 10.1452 10.869 10.2372 10.6459 10.2392C10.4227 10.2412 10.2078 10.153 10.0473 9.99362L8.09582 7.98725V18.125C8.09582 18.3571 8.00615 18.5796 7.84655 18.7437C7.68695 18.9078 7.47048 19 7.24477 19C7.01906 19 6.80259 18.9078 6.64299 18.7437C6.48339 18.5796 6.39373 18.3571 6.39373 18.125V7.98725L4.44228 9.99362C4.28177 10.153 4.06679 10.2412 3.84365 10.2392C3.62051 10.2372 3.40706 10.1452 3.24927 9.98297C3.09147 9.82073 3.00197 9.60127 3.00003 9.37185C2.99809 9.14243 3.08387 8.9214 3.2389 8.75638L6.64308 5.25638ZM14.9042 16.0128V5.875C14.9042 5.64294 14.9938 5.42038 15.1534 5.25628C15.3131 5.09219 15.5295 5 15.7552 5C15.9809 5 16.1974 5.09219 16.357 5.25628C16.5166 5.42038 16.6063 5.64294 16.6063 5.875V16.0128L18.5577 14.0064C18.7182 13.847 18.9332 13.7588 19.1563 13.7608C19.3795 13.7628 19.5929 13.8548 19.7507 14.017C19.9085 14.1793 19.998 14.3987 20 14.6281C20.0019 14.8576 19.9161 15.0786 19.7611 15.2436L16.3569 18.7436C16.1973 18.9077 15.9809 18.9998 15.7552 18.9998C15.5296 18.9998 15.3131 18.9077 15.1535 18.7436L11.7494 15.2436C11.5943 15.0786 11.5086 14.8576 11.5105 14.6281C11.5124 14.3987 11.6019 14.1793 11.7597 14.017C11.9175 13.8548 12.131 13.7628 12.3541 13.7608C12.5773 13.7588 12.7922 13.847 12.9527 14.0064L14.9042 16.0128Z' fill='%23ffffff'/%3E%3C/svg%3E%0A");
}

.filter-search-icon:hover {
  opacity: 0.87;
}

.nav-search-icon {
  width: 2.5rem;
  height: 2.5rem;
  flex-shrink: 0;
  opacity: 0.45;
  transition: opacity 0.18s ease;
}

.nav-search-icon:hover {
  opacity: 0.87;
}

.search {
  outline: none;
  border: none;
  font-size: 1rem;
  height: 100%;
  width: 100%;
  padding: 0.8rem 0;
  letter-spacing: 0.01rem;
  font-weight: 400;
  color: inherit;
  background-color: transparent;
  transition: background-color 0.1s ease, box-shadow 0.1s ease;
}

.search-wrapper:focus-within {
  /* background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 18 18" fill="none"><path d="M17.7043 16.2848L14.3054 12.8958C15.402 11.4988 15.9971 9.77351 15.9948 7.99743C15.9948 6.41569 15.5258 4.86947 14.647 3.5543C13.7683 2.23913 12.5192 1.21408 11.0579 0.608771C9.59657 0.00346513 7.98855 -0.15491 6.43721 0.153672C4.88586 0.462254 3.46085 1.22393 2.34239 2.34239C1.22393 3.46085 0.462254 4.88586 0.153672 6.43721C-0.15491 7.98855 0.00346513 9.59657 0.608771 11.0579C1.21408 12.5192 2.23913 13.7683 3.5543 14.647C4.86947 15.5258 6.41569 15.9948 7.99743 15.9948C9.77351 15.9971 11.4988 15.402 12.8958 14.3054L16.2848 17.7043C16.3777 17.798 16.4883 17.8724 16.6101 17.9231C16.7319 17.9739 16.8626 18 16.9945 18C17.1265 18 17.2572 17.9739 17.379 17.9231C17.5008 17.8724 17.6114 17.798 17.7043 17.7043C17.798 17.6114 17.8724 17.5008 17.9231 17.379C17.9739 17.2572 18 17.1265 18 16.9945C18 16.8626 17.9739 16.7319 17.9231 16.6101C17.8724 16.4883 17.798 16.3777 17.7043 16.2848ZM1.99936 7.99743C1.99936 6.81112 2.35114 5.65146 3.01022 4.66508C3.66929 3.6787 4.60606 2.90991 5.70207 2.45593C6.79807 2.00196 8.00408 1.88317 9.16759 2.11461C10.3311 2.34605 11.3999 2.91731 12.2387 3.75615C13.0775 4.595 13.6488 5.66375 13.8802 6.82726C14.1117 7.99077 13.9929 9.19678 13.5389 10.2928C13.0849 11.3888 12.3162 12.3256 11.3298 12.9846C10.3434 13.6437 9.18373 13.9955 7.99743 13.9955C6.40664 13.9955 4.88101 13.3636 3.75615 12.2387C2.6313 11.1138 1.99936 9.58821 1.99936 7.99743Z" fill="%238c8c8c"/></svg>'); */
  background-color: #ffffff;
  box-shadow: 0px 0px 9px -3px rgba(0, 0, 0, 0.4),
    inset 1px 1px 0 rgba(0, 0, 0, 0.1), inset 0 -1px 0 rgba(0, 0, 0, 0.07);
}

.dark-mode .search-wrapper {
  background-color: #181f29;
  color: rgb(232, 234, 237);
}

.dark-mode .search-wrapper:focus-within {
  /* background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 18 18" fill="none"><path d="M17.7043 16.2848L14.3054 12.8958C15.402 11.4988 15.9971 9.77351 15.9948 7.99743C15.9948 6.41569 15.5258 4.86947 14.647 3.5543C13.7683 2.23913 12.5192 1.21408 11.0579 0.608771C9.59657 0.00346513 7.98855 -0.15491 6.43721 0.153672C4.88586 0.462254 3.46085 1.22393 2.34239 2.34239C1.22393 3.46085 0.462254 4.88586 0.153672 6.43721C-0.15491 7.98855 0.00346513 9.59657 0.608771 11.0579C1.21408 12.5192 2.23913 13.7683 3.5543 14.647C4.86947 15.5258 6.41569 15.9948 7.99743 15.9948C9.77351 15.9971 11.4988 15.402 12.8958 14.3054L16.2848 17.7043C16.3777 17.798 16.4883 17.8724 16.6101 17.9231C16.7319 17.9739 16.8626 18 16.9945 18C17.1265 18 17.2572 17.9739 17.379 17.9231C17.5008 17.8724 17.6114 17.798 17.7043 17.7043C17.798 17.6114 17.8724 17.5008 17.9231 17.379C17.9739 17.2572 18 17.1265 18 16.9945C18 16.8626 17.9739 16.7319 17.9231 16.6101C17.8724 16.4883 17.798 16.3777 17.7043 16.2848ZM1.99936 7.99743C1.99936 6.81112 2.35114 5.65146 3.01022 4.66508C3.66929 3.6787 4.60606 2.90991 5.70207 2.45593C6.79807 2.00196 8.00408 1.88317 9.16759 2.11461C10.3311 2.34605 11.3999 2.91731 12.2387 3.75615C13.0775 4.595 13.6488 5.66375 13.8802 6.82726C14.1117 7.99077 13.9929 9.19678 13.5389 10.2928C13.0849 11.3888 12.3162 12.3256 11.3298 12.9846C10.3434 13.6437 9.18373 13.9955 7.99743 13.9955C6.40664 13.9955 4.88101 13.3636 3.75615 12.2387C2.6313 11.1138 1.99936 9.58821 1.99936 7.99743Z" fill="%23dfdfdf"/></svg>'); */
  background-color: #232d3b;
  color: #ebebeb;
}

.search::placeholder {
  color: #adadad;
}

.dark-mode .search::placeholder {
  color: #bdbdbd;
}

.search:focus::placeholder {
  color: #8c8c8c;
}

.dark-mode .search:focus::placeholder {
  color: #dfdfdf;
}

.logo {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  margin: auto;
  font-size: 1.2rem;
  font-weight: 600;
  margin-left: 0.75rem;
  overflow: hidden;
  white-space: nowrap;
}

.img-edit-icon {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 1px;
  right: -2px;
  border-radius: 50%;
  background-color: rgb(238, 238, 238);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='20px' viewBox='0 -960 960 960' width='20px' fill='%23474747'%3E%3Cpath d='M216-216h51l375-375-51-51-375 375v51Zm-72 72v-153l498-498q11-11 23.84-16 12.83-5 27-5 14.16 0 27.16 5t24 16l51 51q11 11 16 24t5 26.54q0 14.45-5.02 27.54T795-642L297-144H144Zm600-549-51-51 51 51Zm-127.95 76.95L591-642l51 51-25.95-25.05Z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 13px 13px;
  background-position: center;
  width: 1rem;
  height: 1rem;
  cursor: pointer;
  transition: all 0.2s ease;
}

.dark-mode .img-edit-icon {
  background-color: rgb(66, 66, 66);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='20px' viewBox='0 -960 960 960' width='20px' fill='%23cecece'%3E%3Cpath d='M216-216h51l375-375-51-51-375 375v51Zm-72 72v-153l498-498q11-11 23.84-16 12.83-5 27-5 14.16 0 27.16 5t24 16l51 51q11 11 16 24t5 26.54q0 14.45-5.02 27.54T795-642L297-144H144Zm600-549-51-51 51 51Zm-127.95 76.95L591-642l51 51-25.95-25.05Z'/%3E%3C/svg%3E");
}

.profile-image-wrapper:hover .img-edit-icon {
  background-color: rgb(231, 231, 231);
}

.dark-mode .profile-image-wrapper:hover .img-edit-icon {
  background-color: rgb(75, 75, 75);
}

.profile-image-wrapper {
  border-radius: 50%;
  cursor: pointer;
  height: fit-content;
}
