nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  position: sticky;
  top: 0;
  width: 100%;
  height: 4rem;
  background-color: var(--bg);
  user-select: none;
  z-index: 100;
  min-width: min-content;
  border-bottom: 1px solid transparent;
  transition:
    box-shadow 0.13s ease,
    border 0.13s ease;
}

.nav-shadow {
  box-shadow: 0 6px 8px -6px rgba(67, 71, 85, 0.15);
}

.dark-mode .nav-shadow {
  box-shadow: none;
  border-bottom: 1px solid var(--border);
}

.dark-mode .settings-icon {
  stroke: #adadad;
}

.refresh-icon {
  fill: #292929;
}

.dark-mode .refresh-icon {
  fill: #dfdfdf;
}

.search-icon {
  fill: #292929;
}

.dark-mode .search-icon {
  fill: #dfdfdf;
}

.cloud-icon {
  fill: #292929;
}

.dark-mode .cloud-icon {
  fill: #dfdfdf;
}

.layout-icon {
  stroke: #292929;
}

.dark-mode .layout-icon {
  stroke: #dfdfdf;
}

.nav-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.875rem;
  height: 2.875rem;
  transition: opacity 0.18s ease;
}

.nav-btn:hover {
  opacity: 0.87;
}

.nav-btn:disabled {
  opacity: 0.56 !important;
}

.profile-image {
  display: block;
  object-fit: cover;
  user-select: none;
  flex-shrink: 0;
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
  border: 1px solid var(--border);
  border-radius: 50%;
}

.top-icons {
  display: flex;
  align-items: center;
  padding-top: 0.1rem;
  height: 100%;
}

.clear-search-icon {
  /* position: absolute; */
  flex-shrink: 0;
  top: 50%;
  bottom: 50%;
  display: flex;
  right: 10px;
  width: 2.5rem;
  height: 2.5rem;
  background-image: url("data:image/svg+xml,%3Csvg width='27' height='27' viewBox='0 0 24 24' fill='none' xmlns='http%3A//www.w3.org/2000/svg'%3E%3Cpath d='M18 6L6 18' stroke='%23000000' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M6 6L18 18' stroke='%23292929' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-size: 23px 23px;
  opacity: 0.56;
  background-repeat: no-repeat;
  background-position: center;
  margin: auto;
  display: inline-block;
  transition: opacity 0.18s ease;
}

.dark-mode .clear-search-icon {
  background-image: url("data:image/svg+xml,%3Csvg width='27' height='27' viewBox='0 0 24 24' fill='none' xmlns='http%3A//www.w3.org/2000/svg'%3E%3Cpath d='M18 6L6 18' stroke='%23dfdfdf' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M6 6L18 18' stroke='%23ffffff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}

.clear-search-icon:hover {
  opacity: 0.87;
}

.filter-search-icon {
  flex-shrink: 0;
  top: 50%;
  bottom: 50%;
  display: flex;
  right: 10px;
  width: 2.5rem;
  height: 2.5rem;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.64308 5.25638C6.80268 5.09234 7.0191 5.00019 7.24477 5.00019C7.47044 5.00019 7.68687 5.09234 7.84646 5.25638L11.2506 8.75638C11.4057 8.9214 11.4914 9.14243 11.4895 9.37185C11.4876 9.60127 11.3981 9.82073 11.2403 9.98297C11.0825 10.1452 10.869 10.2372 10.6459 10.2392C10.4227 10.2412 10.2078 10.153 10.0473 9.99362L8.09582 7.98725V18.125C8.09582 18.3571 8.00615 18.5796 7.84655 18.7437C7.68695 18.9078 7.47048 19 7.24477 19C7.01906 19 6.80259 18.9078 6.64299 18.7437C6.48339 18.5796 6.39373 18.3571 6.39373 18.125V7.98725L4.44228 9.99362C4.28177 10.153 4.06679 10.2412 3.84365 10.2392C3.62051 10.2372 3.40706 10.1452 3.24927 9.98297C3.09147 9.82073 3.00197 9.60127 3.00003 9.37185C2.99809 9.14243 3.08387 8.9214 3.2389 8.75638L6.64308 5.25638ZM14.9042 16.0128V5.875C14.9042 5.64294 14.9938 5.42038 15.1534 5.25628C15.3131 5.09219 15.5295 5 15.7552 5C15.9809 5 16.1974 5.09219 16.357 5.25628C16.5166 5.42038 16.6063 5.64294 16.6063 5.875V16.0128L18.5577 14.0064C18.7182 13.847 18.9332 13.7588 19.1563 13.7608C19.3795 13.7628 19.5929 13.8548 19.7507 14.017C19.9085 14.1793 19.998 14.3987 20 14.6281C20.0019 14.8576 19.9161 15.0786 19.7611 15.2436L16.3569 18.7436C16.1973 18.9077 15.9809 18.9998 15.7552 18.9998C15.5296 18.9998 15.3131 18.9077 15.1535 18.7436L11.7494 15.2436C11.5943 15.0786 11.5086 14.8576 11.5105 14.6281C11.5124 14.3987 11.6019 14.1793 11.7597 14.017C11.9175 13.8548 12.131 13.7628 12.3541 13.7608C12.5773 13.7588 12.7922 13.847 12.9527 14.0064L14.9042 16.0128Z' fill='%23212121'/%3E%3C/svg%3E%0A");
  /* background-size: 23px 23px; */
  opacity: 0.56;
  background-repeat: no-repeat;
  background-position: center;
  margin: auto;
  display: inline-block;
  transition: opacity 0.18s ease;
}

.dark-mode .filter-search-icon {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.64308 5.25638C6.80268 5.09234 7.0191 5.00019 7.24477 5.00019C7.47044 5.00019 7.68687 5.09234 7.84646 5.25638L11.2506 8.75638C11.4057 8.9214 11.4914 9.14243 11.4895 9.37185C11.4876 9.60127 11.3981 9.82073 11.2403 9.98297C11.0825 10.1452 10.869 10.2372 10.6459 10.2392C10.4227 10.2412 10.2078 10.153 10.0473 9.99362L8.09582 7.98725V18.125C8.09582 18.3571 8.00615 18.5796 7.84655 18.7437C7.68695 18.9078 7.47048 19 7.24477 19C7.01906 19 6.80259 18.9078 6.64299 18.7437C6.48339 18.5796 6.39373 18.3571 6.39373 18.125V7.98725L4.44228 9.99362C4.28177 10.153 4.06679 10.2412 3.84365 10.2392C3.62051 10.2372 3.40706 10.1452 3.24927 9.98297C3.09147 9.82073 3.00197 9.60127 3.00003 9.37185C2.99809 9.14243 3.08387 8.9214 3.2389 8.75638L6.64308 5.25638ZM14.9042 16.0128V5.875C14.9042 5.64294 14.9938 5.42038 15.1534 5.25628C15.3131 5.09219 15.5295 5 15.7552 5C15.9809 5 16.1974 5.09219 16.357 5.25628C16.5166 5.42038 16.6063 5.64294 16.6063 5.875V16.0128L18.5577 14.0064C18.7182 13.847 18.9332 13.7588 19.1563 13.7608C19.3795 13.7628 19.5929 13.8548 19.7507 14.017C19.9085 14.1793 19.998 14.3987 20 14.6281C20.0019 14.8576 19.9161 15.0786 19.7611 15.2436L16.3569 18.7436C16.1973 18.9077 15.9809 18.9998 15.7552 18.9998C15.5296 18.9998 15.3131 18.9077 15.1535 18.7436L11.7494 15.2436C11.5943 15.0786 11.5086 14.8576 11.5105 14.6281C11.5124 14.3987 11.6019 14.1793 11.7597 14.017C11.9175 13.8548 12.131 13.7628 12.3541 13.7608C12.5773 13.7588 12.7922 13.847 12.9527 14.0064L14.9042 16.0128Z' fill='%23ffffff'/%3E%3C/svg%3E%0A");
}

.filter-search-icon:hover {
  opacity: 0.87;
}

.nav-search-icon {
  width: 2.5rem;
  height: 2.5rem;
  flex-shrink: 0;
  opacity: 0.45;
  transition: opacity 0.18s ease;
}

.nav-search-icon:hover {
  opacity: 0.87;
}

.search {
  outline: none;
  border: none;
  font-size: 1rem;
  height: 100%;
  width: 100%;
  padding: 0.8rem 0;
  letter-spacing: 0.01rem;
  font-weight: 400;
  color: inherit;
  background-color: transparent;
  transition:
    background-color 0.1s ease,
    box-shadow 0.1s ease;
}

.search-wrapper {
  position: relative;
  max-width: 61rem;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  border-radius: 3rem;
  background-color: #f8f8f8;
  border: 1px solid transparent;
  transition-property: background-color, border;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.search-wrapper:focus-within {
  background-color: #ffffff;
  border-color: var(--border);
}

.dark-mode .search-wrapper {
  background-color: #181f29;
}

.dark-mode .search-wrapper:focus-within {
  background-color: #232d3b;
}

.search::placeholder {
  color: #adadad;
}

.dark-mode .search::placeholder {
  color: #bdbdbd;
}

.search:focus::placeholder {
  color: #8c8c8c;
}

.dark-mode .search:focus::placeholder {
  color: #dfdfdf;
}

.logo {
  display: flex;
  /* justify-content: center; */
  flex: 1 0 auto;
  min-width: 23%;
  align-items: center;
  margin: auto;
  font-size: 1.2rem;
  font-weight: 600;
  margin-left: 0.75rem;
  margin-right: 0.7rem;
  overflow: hidden;
  white-space: nowrap;
}

.img-edit-icon {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 1px;
  right: -2px;
  border-radius: 50%;
  border: 1px solid var(--border);
  background-color: var(--bg2);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='20px' viewBox='0 -960 960 960' width='20px' fill='%23474747'%3E%3Cpath d='M216-216h51l375-375-51-51-375 375v51Zm-72 72v-153l498-498q11-11 23.84-16 12.83-5 27-5 14.16 0 27.16 5t24 16l51 51q11 11 16 24t5 26.54q0 14.45-5.02 27.54T795-642L297-144H144Zm600-549-51-51 51 51Zm-127.95 76.95L591-642l51 51-25.95-25.05Z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 13px 13px;
  background-position: center;
  width: 1rem;
  height: 1rem;
  cursor: pointer;
  transition: all 0.2s ease;
}

.dark-mode .img-edit-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='20px' viewBox='0 -960 960 960' width='20px' fill='%23cecece'%3E%3Cpath d='M216-216h51l375-375-51-51-375 375v51Zm-72 72v-153l498-498q11-11 23.84-16 12.83-5 27-5 14.16 0 27.16 5t24 16l51 51q11 11 16 24t5 26.54q0 14.45-5.02 27.54T795-642L297-144H144Zm600-549-51-51 51 51Zm-127.95 76.95L591-642l51 51-25.95-25.05Z'/%3E%3C/svg%3E");
}

.profile-image-wrapper {
  border-radius: 50%;
  cursor: pointer;
  height: fit-content;
  border: 1px solid var(--border);
}

.nav-img-wrapper {
  display: flex;
  padding-right: 1rem;
  padding-left: 1rem;
  flex: 0 0 auto;
}

.inside-nav-btns {
  display: none;
  padding-right: 0.5rem;
}

@media (max-width: 800px) {
  .outside-nav-btns {
    display: none;
  }
  .inside-nav-btns {
    display: block;
  }
  .nav-img-wrapper {
    padding-left: 0rem;
  }
  .logo {
    margin-left: 0.5rem;
  }
  .nav-search-icon {
    display: none;
  }

  .search-wrapper {
    padding-left: 0.3rem;
  }

  .top-icons {
    padding: 0;
  }
}

@media (max-width: 605px) {
  .search-page .nav-search-icon {
    display: flex;
  }
  .search-page .search-wrapper {
    padding-left: 0;
  }
  .nav-logo {
    display: none;
  }
  .logo {
    flex: 0 0 auto;
    min-width: unset;
    margin-right: 0;
  }
  .side-expand-btn {
    margin-right: 0;
  }

  nav {
    min-height: 4.5rem;
  }

  .search {
    font-size: 1.08rem;
    padding: 1.05rem 0;
  }
}

@media (max-width: 470px) {
  .search-page .logo {
    display: none;
  }
}

@media (max-width: 410px) {
  .search-page .inside-nav-btns {
    display: none;
  }

  .search-filtered .inside-nav-btns {
    display: flex;
  }
}

@media (max-width: 390px) {
  .search-page .nav-img-wrapper {
    display: none;
  }
  .search-filtered .nav-img-wrapper {
    display: flex;
  }
}

@media (max-width: 340px) {
  .layout-btn {
    display: none !important;
  }
}
