nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  position: fixed;
  width: 100%;
  height: 4rem;
  background-color: #ffffff;
  user-select: none;
  z-index: 100;
  min-width: min-content;
  transition: box-shadow 0.2s ease;
}

.dark-mode nav {
  background-color: rgb(23, 23, 23);
}

.dark-mode .settings-icon {
  stroke: #adadad;
}

.refresh-icon {
  fill: #292929;
}

.dark-mode .refresh-icon {
  fill: #dfdfdf;
}

.search-icon {
  fill: #292929;
}

.dark-mode .search-icon {
  fill: #dfdfdf;
}

.cloud-icon {
  stroke: #292929;
}

.dark-mode .cloud-icon {
  stroke: #dfdfdf;
}

.layout-icon {
  stroke: #292929;
}

.dark-mode .layout-icon {
  stroke: #dfdfdf;
}

.nav-btn {
  width: 2.875rem;
  height: 2.875rem;
  opacity: 0.56;
  transition: opacity 0.18s ease;
}

.nav-btn:hover {
  opacity: 0.87;
}

.nav-btn:disabled {
  opacity: 0.56 !important;
}

.profile-image {
  display: block;
  object-fit: cover;
  user-select: none;
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
  border-radius: 50%;
}

.top-icons {
  display: flex;
  align-items: center;
  padding-top: 0.1rem;
  height: 100%;
}

.search-wrapper {
  position: relative;
  max-width: 61rem;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 0 0.5rem;
  width: 100%;
  border-radius: 0.7rem;
  background-color: #f1f3f4;
}

.clear-search-icon {
  /* position: absolute; */
  flex-shrink: 0;
  top: 50%;
  bottom: 50%;
  display: flex;
  right: 10px;
  width: 2.5rem;
  height: 2.5rem;
  background-image: url("data:image/svg+xml,%3Csvg width='27' height='27' viewBox='0 0 24 24' fill='none' xmlns='http%3A//www.w3.org/2000/svg'%3E%3Cpath d='M18 6L6 18' stroke='%23000000' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M6 6L18 18' stroke='%23292929' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-size: 23px 23px;
  opacity: 0.56;
  background-repeat: no-repeat;
  background-position: center;
  margin: auto;
  display: inline-block;
  transition: opacity 0.18s ease;
}

.dark-mode .clear-search-icon {
  background-image: url("data:image/svg+xml,%3Csvg width='27' height='27' viewBox='0 0 24 24' fill='none' xmlns='http%3A//www.w3.org/2000/svg'%3E%3Cpath d='M18 6L6 18' stroke='%23dfdfdf' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M6 6L18 18' stroke='%23ffffff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}

.clear-search-icon:hover {
  opacity: 0.87;
}

.nav-search-icon {
  /* position: absolute; */
  width: 2.5rem;
  height: 2.5rem;
  flex-shrink: 0;
  opacity: 0.45;
  transition: opacity 0.18s ease;
}

.nav-search-icon:hover {
  opacity: 0.87;
}

.search {
  outline: none;
  border: none;
  font-size: 1rem;
  height: 100%;
  width: 100%;
  padding: 0.8rem 0;
  letter-spacing: 0.01rem;
  font-weight: 400;
  color: inherit;
  background-color: transparent;
  transition: background-color 0.1s ease, box-shadow 0.1s ease;
}

.search-wrapper:focus-within {
  /* background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 18 18" fill="none"><path d="M17.7043 16.2848L14.3054 12.8958C15.402 11.4988 15.9971 9.77351 15.9948 7.99743C15.9948 6.41569 15.5258 4.86947 14.647 3.5543C13.7683 2.23913 12.5192 1.21408 11.0579 0.608771C9.59657 0.00346513 7.98855 -0.15491 6.43721 0.153672C4.88586 0.462254 3.46085 1.22393 2.34239 2.34239C1.22393 3.46085 0.462254 4.88586 0.153672 6.43721C-0.15491 7.98855 0.00346513 9.59657 0.608771 11.0579C1.21408 12.5192 2.23913 13.7683 3.5543 14.647C4.86947 15.5258 6.41569 15.9948 7.99743 15.9948C9.77351 15.9971 11.4988 15.402 12.8958 14.3054L16.2848 17.7043C16.3777 17.798 16.4883 17.8724 16.6101 17.9231C16.7319 17.9739 16.8626 18 16.9945 18C17.1265 18 17.2572 17.9739 17.379 17.9231C17.5008 17.8724 17.6114 17.798 17.7043 17.7043C17.798 17.6114 17.8724 17.5008 17.9231 17.379C17.9739 17.2572 18 17.1265 18 16.9945C18 16.8626 17.9739 16.7319 17.9231 16.6101C17.8724 16.4883 17.798 16.3777 17.7043 16.2848ZM1.99936 7.99743C1.99936 6.81112 2.35114 5.65146 3.01022 4.66508C3.66929 3.6787 4.60606 2.90991 5.70207 2.45593C6.79807 2.00196 8.00408 1.88317 9.16759 2.11461C10.3311 2.34605 11.3999 2.91731 12.2387 3.75615C13.0775 4.595 13.6488 5.66375 13.8802 6.82726C14.1117 7.99077 13.9929 9.19678 13.5389 10.2928C13.0849 11.3888 12.3162 12.3256 11.3298 12.9846C10.3434 13.6437 9.18373 13.9955 7.99743 13.9955C6.40664 13.9955 4.88101 13.3636 3.75615 12.2387C2.6313 11.1138 1.99936 9.58821 1.99936 7.99743Z" fill="%238c8c8c"/></svg>'); */
  background-color: #ffffff;
  box-shadow: 0px 0px 9px -3px rgba(0, 0, 0, 0.4),
    inset 1px 1px 0 rgba(0, 0, 0, 0.1), inset 0 -1px 0 rgba(0, 0, 0, 0.07);
}

.dark-mode .search-wrapper {
  background-color: rgba(241, 243, 244, 0.11);
  color: rgb(232, 234, 237);
}

.dark-mode .search-wrapper:focus-within {
  /* background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 18 18" fill="none"><path d="M17.7043 16.2848L14.3054 12.8958C15.402 11.4988 15.9971 9.77351 15.9948 7.99743C15.9948 6.41569 15.5258 4.86947 14.647 3.5543C13.7683 2.23913 12.5192 1.21408 11.0579 0.608771C9.59657 0.00346513 7.98855 -0.15491 6.43721 0.153672C4.88586 0.462254 3.46085 1.22393 2.34239 2.34239C1.22393 3.46085 0.462254 4.88586 0.153672 6.43721C-0.15491 7.98855 0.00346513 9.59657 0.608771 11.0579C1.21408 12.5192 2.23913 13.7683 3.5543 14.647C4.86947 15.5258 6.41569 15.9948 7.99743 15.9948C9.77351 15.9971 11.4988 15.402 12.8958 14.3054L16.2848 17.7043C16.3777 17.798 16.4883 17.8724 16.6101 17.9231C16.7319 17.9739 16.8626 18 16.9945 18C17.1265 18 17.2572 17.9739 17.379 17.9231C17.5008 17.8724 17.6114 17.798 17.7043 17.7043C17.798 17.6114 17.8724 17.5008 17.9231 17.379C17.9739 17.2572 18 17.1265 18 16.9945C18 16.8626 17.9739 16.7319 17.9231 16.6101C17.8724 16.4883 17.798 16.3777 17.7043 16.2848ZM1.99936 7.99743C1.99936 6.81112 2.35114 5.65146 3.01022 4.66508C3.66929 3.6787 4.60606 2.90991 5.70207 2.45593C6.79807 2.00196 8.00408 1.88317 9.16759 2.11461C10.3311 2.34605 11.3999 2.91731 12.2387 3.75615C13.0775 4.595 13.6488 5.66375 13.8802 6.82726C14.1117 7.99077 13.9929 9.19678 13.5389 10.2928C13.0849 11.3888 12.3162 12.3256 11.3298 12.9846C10.3434 13.6437 9.18373 13.9955 7.99743 13.9955C6.40664 13.9955 4.88101 13.3636 3.75615 12.2387C2.6313 11.1138 1.99936 9.58821 1.99936 7.99743Z" fill="%23dfdfdf"/></svg>'); */
  background-color: rgba(241, 243, 244, 0.24);
  color: #ebebeb;
}

.search::placeholder {
  color: #adadad;
}

.dark-mode .search::placeholder {
  color: #bdbdbd;
}

.search:focus::placeholder {
  color: #8c8c8c;
}

.dark-mode .search:focus::placeholder {
  color: #dfdfdf;
}

.logo {
  display: flex;
  margin: auto;
  font-size: 1.2rem;
  font-weight: 600;
  margin-left: 1.7rem;
  white-space: nowrap;
}

.img-edit-icon {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 1px;
  right: -2px;
  border-radius: 50%;
  background-color: rgb(238, 238, 238);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='20px' viewBox='0 -960 960 960' width='20px' fill='%23474747'%3E%3Cpath d='M216-216h51l375-375-51-51-375 375v51Zm-72 72v-153l498-498q11-11 23.84-16 12.83-5 27-5 14.16 0 27.16 5t24 16l51 51q11 11 16 24t5 26.54q0 14.45-5.02 27.54T795-642L297-144H144Zm600-549-51-51 51 51Zm-127.95 76.95L591-642l51 51-25.95-25.05Z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 13px 13px;
  background-position: center;
  width: 1rem;
  height: 1rem;
  cursor: pointer;
  transition: all 0.2s ease;
}

.dark-mode .img-edit-icon {
  background-color: rgb(66, 66, 66);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='20px' viewBox='0 -960 960 960' width='20px' fill='%23cecece'%3E%3Cpath d='M216-216h51l375-375-51-51-375 375v51Zm-72 72v-153l498-498q11-11 23.84-16 12.83-5 27-5 14.16 0 27.16 5t24 16l51 51q11 11 16 24t5 26.54q0 14.45-5.02 27.54T795-642L297-144H144Zm600-549-51-51 51 51Zm-127.95 76.95L591-642l51 51-25.95-25.05Z'/%3E%3C/svg%3E");
}

.profile-image-wrapper:hover .img-edit-icon {
  background-color: rgb(231, 231, 231);
}

.dark-mode .profile-image-wrapper:hover .img-edit-icon {
  background-color: rgb(75, 75, 75);
}

.profile-image-wrapper {
  border-radius: 50%;
  cursor: pointer;
  height: fit-content;
}
