.note {
  display: flex;
  flex-direction: column;
  width: 16.25rem;
  height: fit-content;
  min-height: 7.95rem;
  border-radius: 0.7rem;
  box-sizing: border-box;
  font-size: 1.2rem;
  box-sizing: border-box;
  padding-bottom: 45px;
  font-weight: 400;
  user-select: none;
  transition: all 0.3s ease-in-out, opacity 0s, box-shadow 0.2s ease;
  overflow-wrap: break-word;
}

.title {
  padding: 0.8rem 0.8rem 0 0.8rem;
  font-weight: 500;
}

.content {
  padding: 0.6rem 0.8rem 0.8rem 0.8rem;
  font-size: 1.1rem;
}

.note-bottom {
  opacity: 0;
  position: absolute;
  bottom: 0;
  gap: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 600;
  min-height: 40px;
  width: 100%;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

.note:hover .note-bottom {
  opacity: 1;
}

.note:hover .pin {
  opacity: 1;
}

.note:hover {
  -webkit-box-shadow: 2px 3px 4px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 2px 3px 4px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 2px 3px 4px 0px rgba(0, 0, 0, 0.15);
}

.date {
  margin-top: 0.1rem;
  margin-left: 0.2rem;
  font-size: 0.733rem;
}

.note-bottom-icons {
  display: flex;
  padding-bottom: 3px;
  gap: 9px;
}

.pin {
  position: absolute;
  right: 0;
  opacity: 0;
  padding: 0.3rem 0.4rem 0rem 0rem;
  transition: all 0.3s ease;
}
