.top-menu {
    position: fixed;
    display: flex;
    align-items: center;
    height: 63px;
    width: 100%;
    background-color: white;
    z-index: 101;
    top: 0;
}

.selected {
    font-size: 1.375rem;
    font-family: "Open Sans";
    font-weight: 400;
    margin-left: 1.1em;
    color: #3c4043;
    user-select: none;
}

.top-menu-tools {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    border: "solid";
    margin-left: auto;
    margin-right: 17px;
    gap: 9px;
  }